body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
	height: 100vh;
	flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
  background: #fff; 
}


#root{
  display: flex;
	height: 100vh;
	flex-direction: column;
}
@media screen and (min-width: 768px) {
  html{
    background: #eff0f6;
  }
  
}
@media screen and (min-width: 1024px) {
}
